os:
  - linux
  - osx
osx_image: xcode9.4
dist: trusty
sudo: required
language: generic
# This only needs to be run on Linux, figure out how to do that and then create
# test cases for music files
#
#before_install:
#  - sudo apt-get update
#  - sudo apt-get install -y libimage-exiftool-perl
before_install:
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"; fi
install:
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then swiftenv install $(cat .swift-version) | grep -qe "\(been\|already\) installed"; fi
script:
  - travis_wait swift test
